{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" name="username" required>
                {% if form.username.errors %}
                    <div class="error">
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" required>
                {% if form.password.errors %}
                    <div class="error">
                        {% for error in form.password.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>

        {% if messages %}
            <div class="message">
                <ul>
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <li>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        <div class="reset-link">
           <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </div>
    </div>

</body>
</html>
